html{
	font-size: 100px;
}
body{
	font-size: 100px;
}
/* .wrapper{
	width: 375px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.wrapper b{
	padding-top: 0.31rem;
	padding-bottom: 0.16rem;
	font-size: 0.18rem;
}

.wrapper ul img{
	width: 100%;
	margin-bottom: 0.3rem;

}

.wrapper .img .list img{
	width:90%;
}
.wrapper .list{
	text-align: center;
}
.footer {
	margin-bottom: 0.3rem;
	text-align: center;	
	flex-direction: row;
}
.footer a img{
	width: 0.8rem;
}
.footer img{
	margin-right: .1rem;
} */
@media screen and (min-width:320px) {
	.wrapper{
			
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.wrapper b{
			padding-top: 0.31rem;
			padding-bottom: 0.16rem;
			font-size: 0.18rem;
			/* margin-bottom: 0.16rem; */
		}
		
		.wrapper ul img{
			width: 100%;
			margin-bottom: 0.3rem;
		
		}
		
		.wrapper .img .list img{
			width:90%;
		}
		.wrapper .list{
			text-align: center;
		}
		.footer {
			margin-bottom: 0.3rem;
			text-align: center;	
			flex-direction: row;
		}
		.footer a img{
			width: 0.8rem;
		}
		.footer img{
			margin-right: .1rem;
		}
	}
}
@media screen and (max-width:375px) and (min-width:414px){
	.wrapper{
		/* width: 375px; */
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.wrapper b{
		padding-top: 0.31rem;
		padding-bottom: 0.16rem;
		font-size: 0.18rem;
		/* margin-bottom: 0.16rem; */
	}
	
	.wrapper ul img{
		width: 100%;
		margin-bottom: 0.3rem;
	
	}
	
	.wrapper .img .list img{
		width:90%;
	}
	.wrapper .list{
		text-align: center;
	}
	.footer {
		margin-bottom: 0.3rem;
		text-align: center;	
		flex-direction: row;
	}
	.footer a img{
		width: 0.8rem;
	}
	.footer img{
		margin-right: .1rem;
	}
}
@media screen and (min-width:415px) and (max-width:767px){
	.wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.wrapper b{
		padding-top: 0.31rem;
		padding-bottom: 0.16rem;
		font-size: 0.18rem;
		/* margin-bottom: 0.16rem; */
	}
	
	.wrapper ul img{
		width: 100%;
		margin-bottom: 0.3rem;
	
	}
	
	.wrapper .img .list img{
		width:90%;
	}
	.wrapper .list{
		text-align: center;
	}
	.footer {
		margin-bottom: 0.3rem;
		text-align: center;	
		flex-direction: row;
	}
	.footer a img{
		width: 0.8rem;
	}
	.footer img{
		margin-right: .1rem;
	}
}
@media screen and (min-width:768px) and (max-width:1024px){
	.wrapper{
		/* width: 414px; */
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.wrapper b{
		padding-top: 0.31rem;
		padding-bottom: 0.16rem;
		font-size: .3rem;
	}
	
	.wrapper ul img{
		width: 100%;
		margin-bottom: 0.3rem;
	
	}
	
	.wrapper .img .list img{
		width:90%;
	}
	.wrapper .list{
		text-align: center;
	}
	.footer {
		margin-bottom: 0.3rem;
		text-align: center;	
		flex-direction: row;
	}
	.footer a img{
		width: 1rem;
	}
	.footer img{
		margin-right: .1rem;
	}
}